extends layout

block content
    h1= title


block content 
    sceneInfo#Info(
        data-scene=scene,
        data-objects=objects
    )

    .container.mb-5.pb-5
        .row
            .col-md-8 
                h1.my-4
                    if(scene.sceneName)
                        |#{scene.sceneName} 
                    else 
                        |NAMELESS 
        .row
            .col-md-8
                canvas(id="scene")
                script(src="/javascripts/app2.bundle.js")    

            h3.my-3 Control
                .col-md-4.my-4
                    button.btn.btn-outline-info(id="start") 開始
                .card(style='width: 20rem;').h-75
                    .card-body
                        h3.card-title Infomation
                        h5.card-text Description 
                        .pl-3.small #{scene.description}
                    h5.ul.list-group.list-group-flush
                        li.list-group-item 作成者 
                            if(scene.createdBy)
                                .pl-4|#{scene.createdBy}
                            else 
                                .pl-4|Unknown
                        li.list-group-item 作成日時:
                            .pl-4|#{updatedAt}
        .row 
            .col-md-8 
            .col-md-4 
                h3 Share 
        .row 
            .col-md-8 
            .col-md-4 
                .social
                    a.link.twitter(href=`https://twitter.com/share?url=http://localhost:8000/scenes/${scene.sceneId}&text=hey %23aaa%0abbbb %0a` target="_blank")
                        span.fa.fa-twitter
                    a.link.facebook(href='https://www.facebook.com/share.php?u=http://localhost:8000' rel="nofollow" target='_blank')
                        span.fa.fa-facebook-square
